@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a href="/Pristup/prihlaseni">Prihlaseni</a></p>
    <p><a href="/Pristup/registrace">Registrace</a></p>
    <h1 class="display-4">Archiv poznámek</h1>
</div>
