@using Poznamky.Models;
@model List<poznamka>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;


    
@foreach (poznamka p in Model.Where(i => i.jmeno ==HttpContextAccessor.HttpContext.Session.GetString("jmeno") ))
{
    <div>

        <p>@p.Nadpis</p>
        <p>@p.CasPridani</p> 
        <p>@p.Text</p> 

    </div>
}
